<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>狗窝</string>
		<key>info</key>
		<array>
			<dict>
				<key>name</key>
				<string>PETKIT狗狗窝宠物冬季保暖可拆洗中小型犬泰迪用品</string>
				<key>pictures</key>
				<array>
					<string>0-0-0</string>
					<string>0-0-1</string>
					<string>0-0-2</string>
				</array>
				<key>people</key>
				<string>12</string>
				<key>price</key>
				<string>22</string>
				<key>size</key>
				<string>M-中型</string>
				<key>colour</key>
				<string>灰色</string>
				<key>suitable</key>
				<string>通用</string>
			</dict>
			<dict>
				<key>name</key>
				<string>咔咔萌宠 刺猬荷兰猪龙猫豚鼠兔兔保暖窝 手工无底棉窝</string>
				<key>pictures</key>
				<array>
					<string>0-1-0</string>
					<string>0-1-1</string>
					<string>0-1-2</string>
				</array>
				<key>people</key>
				<string>33</string>
				<key>price</key>
				<string>18</string>
				<key>size</key>
				<string>S-小型</string>
				<key>colour</key>
				<string>灰色</string>
				<key>suitable</key>
				<string>通用</string>
			</dict>
			<dict>
				<key>name</key>
				<string>狗窝大型犬金毛泰迪猫狗垫子中型小型犬可拆洗宠物窝狗床宠物用品</string>
				<key>pictures</key>
				<array>
					<string>0-2-0</string>
					<string>0-2-1</string>
					<string>0-2-2</string>
				</array>
				<key>people</key>
				<string>27</string>
				<key>price</key>
				<string>30</string>
				<key>size</key>
				<string>M-中型</string>
				<key>colour</key>
				<string>灰色</string>
				<key>suitable</key>
				<string>中型犬</string>
			</dict>
			<dict>
				<key>name</key>
				<string>金毛狗窝可拆洗泰迪狗狗床狗垫子四季小型中型大型犬宠物用品耐咬</string>
				<key>pictures</key>
				<array>
					<string>0-3-0</string>
					<string>0-3-1</string>
					<string>0-3-2</string>
				</array>
				<key>people</key>
				<string>44</string>
				<key>price</key>
				<string>59</string>
				<key>size</key>
				<string>L-大型</string>
				<key>colour</key>
				<string>棕色</string>
				<key>suitable</key>
				<string>大型犬</string>
			</dict>
			<dict>
				<key>name</key>
				<string>狗窝可拆洗泰迪狗狗冬天保暖宠物用品狗屋四季狗床</string>
				<key>pictures</key>
				<array>
					<string>0-4-0</string>
					<string>0-4-1</string>
					<string>0-4-2</string>
				</array>
				<key>people</key>
				<string>19</string>
				<key>price</key>
				<string>29</string>
				<key>size</key>
				<string>M-中型</string>
				<key>colour</key>
				<string>棕色</string>
				<key>suitable</key>
				<string>通用</string>
			</dict>
			<dict>
				<key>name</key>
				<string>狗窝可拆洗冬猫窝蒙古包房子泰迪小型犬金毛幼犬窝四季通用宠物窝</string>
				<key>pictures</key>
				<array>
					<string>0-5-0</string>
					<string>0-5-1</string>
					<string>0-5-2</string>
				</array>
				<key>people</key>
				<string>36</string>
				<key>price</key>
				<string>26</string>
				<key>size</key>
				<string>M-中型</string>
				<key>colour</key>
				<string>浅灰色</string>
				<key>suitable</key>
				<string>通用</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>猫窝</string>
		<key>info</key>
		<array>
			<dict>
				<key>name</key>
				<string>猫窝冬季保暖可拆洗猫咪窝猫屋封闭式猫睡袋小型犬狗窝宠物用品</string>
				<key>pictures</key>
				<array>
					<string>1-0-0</string>
					<string>1-0-1</string>
					<string>1-0-2</string>
				</array>
				<key>people</key>
				<string>8</string>
				<key>price</key>
				<string>19</string>
				<key>size</key>
				<string>S-小型</string>
				<key>colour</key>
				<string>灰色</string>
				<key>suitable</key>
				<string>通用</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Zeze猫窝蛋蛋窝半封闭式毛毡窝冬季保暖猫窝可拆洗猫咪房子公主色</string>
				<key>pictures</key>
				<array>
					<string>1-1-0</string>
					<string>1-1-1</string>
					<string>1-1-2</string>
				</array>
				<key>people</key>
				<string>12</string>
				<key>price</key>
				<string>22</string>
				<key>size</key>
				<string>M-中型</string>
				<key>colour</key>
				<string>灰色</string>
				<key>suitable</key>
				<string>通用</string>
			</dict>
			<dict>
				<key>name</key>
				<string>猫贝勒 欧美风可折叠四季款猫窝 半封闭式猫睡袋双面垫子可爱猫床</string>
				<key>pictures</key>
				<array>
					<string>1-2-0</string>
					<string>1-2-1</string>
					<string>1-2-2</string>
				</array>
				<key>people</key>
				<string>12</string>
				<key>price</key>
				<string>22</string>
				<key>size</key>
				<string>M-中型</string>
				<key>colour</key>
				<string>灰色</string>
				<key>suitable</key>
				<string>通用</string>
			</dict>
			<dict>
				<key>name</key>
				<string>藤编猫窝狗窝柳编猫屋猫房子泰迪博美小型犬狗窝猫笼四季通用</string>
				<key>pictures</key>
				<array>
					<string>1-3-0</string>
					<string>1-3-1</string>
					<string>1-3-2</string>
				</array>
				<key>people</key>
				<string>42</string>
				<key>price</key>
				<string>21</string>
				<key>size</key>
				<string>M-中型</string>
				<key>colour</key>
				<string>灰色</string>
				<key>suitable</key>
				<string>通用</string>
			</dict>
			<dict>
				<key>name</key>
				<string>猫窝冬季保暖加菲猫窝房子别墅四季用品蒙古包猫咪床宠物窝猫睡袋</string>
				<key>pictures</key>
				<array>
					<string>1-4-0</string>
					<string>1-4-1</string>
					<string>1-4-2</string>
				</array>
				<key>people</key>
				<string>55</string>
				<key>price</key>
				<string>29</string>
				<key>size</key>
				<string>M-中型</string>
				<key>colour</key>
				<string>灰色</string>
				<key>suitable</key>
				<string>通用</string>
			</dict>
			<dict>
				<key>name</key>
				<string>猫窝 封闭式别墅房子屋冬季保暖蒙古包猫咪 睡袋帐篷猫咪用品</string>
				<key>pictures</key>
				<array>
					<string>1-5-0</string>
					<string>1-5-1</string>
					<string>1-5-2</string>
				</array>
				<key>people</key>
				<string>22</string>
				<key>price</key>
				<string>45</string>
				<key>size</key>
				<string>M-中型</string>
				<key>colour</key>
				<string>灰色</string>
				<key>suitable</key>
				<string>通用</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>其他</string>
		<key>info</key>
		<array>
			<dict>
				<key>name</key>
				<string>Ferplast飞宝仓鼠笼子亚克力透明超大金丝熊刺猬别墅豪华套装进口</string>
				<key>pictures</key>
				<array>
					<string>2-0-0</string>
					<string>2-0-1</string>
					<string>2-0-2</string>
				</array>
				<key>people</key>
				<string>12</string>
				<key>price</key>
				<string>22</string>
				<key>size</key>
				<string>M-中型</string>
				<key>colour</key>
				<string>灰色</string>
				<key>suitable</key>
				<string>仓鼠</string>
			</dict>
			<dict>
				<key>name</key>
				<string>刺猬瓷窝 陶瓷龙猫窝 蜜袋鼯 金丝熊 松鼠 荷兰猪瓷窝仓鼠贝壳窝</string>
				<key>pictures</key>
				<array>
					<string>2-1-0</string>
					<string>2-1-1</string>
					<string>2-1-2</string>
				</array>
				<key>people</key>
				<string>33</string>
				<key>price</key>
				<string>15</string>
				<key>size</key>
				<string>M-中型</string>
				<key>colour</key>
				<string>灰色</string>
				<key>suitable</key>
				<string>通用</string>
			</dict>
			<dict>
				<key>name</key>
				<string>荷兰猪窝龙猫窝兔子过冬保暖金花魔王棉窝松鼠窝用品刺猬窝仓鼠窝</string>
				<key>pictures</key>
				<array>
					<string>2-2-0</string>
					<string>2-2-1</string>
					<string>2-2-2</string>
				</array>
				<key>people</key>
				<string>12</string>
				<key>price</key>
				<string>24</string>
				<key>size</key>
				<string>M-中型</string>
				<key>colour</key>
				<string>灰色</string>
				<key>suitable</key>
				<string>通用</string>
			</dict>
			<dict>
				<key>name</key>
				<string>仓鼠金丝熊用品 实木仓鼠窝 木制小宠木屋 豪华别墅</string>
				<key>pictures</key>
				<array>
					<string>2-3-0</string>
					<string>2-3-1</string>
					<string>2-3-2</string>
				</array>
				<key>people</key>
				<string>11</string>
				<key>price</key>
				<string>25</string>
				<key>size</key>
				<string>M-中型</string>
				<key>colour</key>
				<string>灰色</string>
				<key>suitable</key>
				<string>通用</string>
			</dict>
			<dict>
				<key>name</key>
				<string>仓鼠窝保暖冬松鼠荷兰猪龙猫豚鼠刺猬宠物用品兔子窝过冬兔窝草窝</string>
				<key>pictures</key>
				<array>
					<string>2-4-0</string>
					<string>2-4-1</string>
					<string>2-4-2</string>
				</array>
				<key>people</key>
				<string>17</string>
				<key>price</key>
				<string>25</string>
				<key>size</key>
				<string>M-中型</string>
				<key>colour</key>
				<string>灰色</string>
				<key>suitable</key>
				<string>通用</string>
			</dict>
			<dict>
				<key>name</key>
				<string>地中海风贝壳仓鼠窝陶瓷刺猬贝壳窝金花松鼠西施熊龙猫瓷窝</string>
				<key>pictures</key>
				<array>
					<string>2-5-0</string>
					<string>2-5-1</string>
					<string>2-5-2</string>
				</array>
				<key>people</key>
				<string>28</string>
				<key>price</key>
				<string>31</string>
				<key>size</key>
				<string>M-中型</string>
				<key>colour</key>
				<string>蓝色</string>
				<key>suitable</key>
				<string>通用</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
